<div class='jumbotron mt-4'>
  <h1 class='display-4'>Personal budget app</h1>
  <p class='lead'>A simple App to manage budget envelopes developed with Nodejs,
    Express, Postgres, Sequelize, Passport and Handlebars</p>
  <div class='input-group mb-1'>
    <form action='/users/register' method='GET'>
      <button class='btn btn-primary'>Register</button>
    </form>
    <span class='input-group-text mb-3'>Or if you already have an account</span>

    <form action='/users/login' method='GET'>
      <button class='btn btn-primary'>Login</button>
    </form>
  </div>

</div>