<h1>Please Login</h1>

<form action='/login' method='post'>
  <hr />

  <div class='form-group col-lg-6'>
    <label for='username'><b>Username:</b></label>
    <input
      type='text'
      class='form-control'
      placeholder='Enter Username'
      name='username'
      id='username'
      required
    /><br />
  </div>

  <div class='form-group col-lg-6'>
    <label for='psw'><b>Password:</b></label>
    <input
      type='password'
      class='form-control'
      placeholder='Enter Password'
      name='psw'
      id='psw'
      required
    /><br />
  </div>

  <hr />

  <div class='form-group col-lg-6'>
    <button type='submit' class='btn btn-success'>Login</button>
  </div>

</form>